---
import clsx from "clsx";
import Steps from "./Steps.astro";
const items = [
	{
		id: "hiw-1",
		name: "Create & Choose your Cloud Provider",
		description:
            "Get started by creating a new project with your desired cloud provider.",
	},
	{
		id: "hiw-2",
		name: "Connect and Sync your Accounts with 1-Click",
		description:
		"Securely connect your AWS account to monitor and manage your resources " +
            "where you have full ownership and control.",
	},
	{
		id: "hiw-3",
		name: "Interact & Monitor your Infrastructure",
		description:
            "Voila! Visualize and start interacting with your cloud infrastructure in an instant! " +
            "Debug and identify point of failures to quickly fix them.",
	},
];
---

<div class="w-full" data-carousel="static">
	<div class="">
		{
			items.map((item, i) => {
				return (
					<section
						id={item.id}
						class={clsx(
							i === 0 ? "mt-10" : "md:mt-28 mt-20",
						)}
					>
						<div class={clsx("grid grid-cols-2 gap-4 h-full")}>
							{i === 1 && (
								<div class="col-span-2 md:col-span-1 hidden md:block">
									<Steps index={i} />
								</div>
							)}
							<div
								class={clsx(
									"px-5 col-span-2 md:col-span-1 flex flex-col",
									i !== 1 ? "md:items-end md:text-end" : "",
									i === 2 ? "md:justify-center" : "md:justify-center"
								)}
							>
								<div class="font-extrabold text-3xl">
                                    0{i + 1}
								</div>
								<h3 class="font-bold text-2xl mt-5">
									{item.name}
								</h3>
								<p class="mt-5">{item.description}</p>
							</div>
							{i !== 2 && (
								<div
									class={clsx(
										"col-span-2 md:col-span-1",
										i === 1 ? "md:hidden block" : ""
									)}
								>
									<Steps index={i} />
								</div>
							)}
							{i === 2 && (
								<div
									class={clsx(
										"col-span-2 md:col-span-1 h-80 lg:h-500",
									)}
								>
									<div class="">
										<div class={clsx("border-gray-100 border-2 shadow-lg p-3",
											"rounded-lg bg-white w-4/5")}>
											<img
												src="/assets/images/cloudview1.webp"
												alt="debug-cloud"
												class=""
												width="100%"
												height="100%"
												loading="lazy"
											/>
										</div>
									</div>
									<div class="flex justify-end">
										<div
											class={clsx(
												"shadow-lg rounded-lg p-3",
												"border-gray-100 border-2 bg-white",
												"w-4/5 z-20 relative -mt-32 lg:-mt-48 2xl:-mt-96"
											)}
										>
											<img
												src="/assets/images/cloud-monitor.webp"
												alt="monitor-cloud-2"
												class=""
												width="100%"
												height="100%"
												loading="lazy"
											/>
										</div>
									</div>
								</div>
							)}
						</div>
					</section>
				);
			})
		}
	</div>
</div>
