---
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";

interface Props {
    image?: string;
    description: string;
    title: string;
    ogType?: string;
    keywords: string;
    url: string;
    hideNavbar?: boolean;
}

const domainUrl = "https://getcloudfriendly.com";
const defaultOgImage = `${domainUrl}/assets/images/og-image.png`;
const ogImage = Astro.props.image || defaultOgImage;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link
			rel="icon"
			type="image/svg+xml"
			href="/assets/images/cloudfriendly-logo.svg"
		/>
		<link rel="icon" type="image/png" href="/favicon-16x16.png" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="sitemap"
			type="application/xml"
			title="Sitemap"
			href="/sitemap.xml"
		/>
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={Astro.props.description} />
		<link rel="canonical" href={`${domainUrl}${Astro.props.url}`} />
		<meta property="og:url" content={`${domainUrl}${Astro.props.url}`} />
		<meta property="og:title" content={Astro.props.title} />
		<meta property="og:description" content={Astro.props.description} />
		<meta property="og:type" content={Astro.props.ogType || "website"} />
		<meta property="twitter:title" content={Astro.props.title} />
		<meta
			property="twitter:description"
			content={Astro.props.description}
		/>
		<meta property="twitter:card" content="summary" />
		<meta property="twitter:creator" content="@hoaxy777" />
		<meta property="og:locale" content="en_US" />
		<meta property="keywords" content={Astro.props.keywords} />
		<meta property="og:image" content={ogImage} />
		<meta property="image" content={ogImage} />
		<title>{Astro.props.title}</title>
		<!--
			Webfonts take some time to load. The default behavior is 'font-display: swap'
			which means it swaps out with the web font whenever it is loaded.
			This causes layout shifts. 
			To avoid such issues we can use 'font-display: optional'
			which only swaps the fonts on initial page load if the webfont has already loaded, 
			else it fallsback to default build-in fonts.

			The layout shift can be seen in mobile devices.

			for more info see: https://simonhearne.com/2021/layout-shifts-webfonts/
		 -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link
			href="https://fonts.googleapis.com/css?family=Plus Jakarta Sans:r,b&display=optional"
			media="screen"
			rel="preload" as="style" onload="this.rel='stylesheet'"
		/>
        <!-- Google tag (gtag.js) -->
        <script
        	src="https://www.googletagmanager.com/gtag/js?id=G-TZE0QWCKY8"
        	defer
        ></script>
        <script lang="ts" defer>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
            	// eslint-disable-next-line no-undef
            	dataLayer.push(arguments);
            }
            gtag("js", new Date());

            gtag("config", "G-TZE0QWCKY8");
        </script>
	</head>

	<body>
		{
			!Astro.props.hideNavbar && (
				<section id="nav" class="lg:mx-48 md:mx-20 p-4">
					<Navbar />
				</section>
			)
		}
		<slot />
	</body>
</html>
